<div class="grid">
	<div class="col-12 xl:col-12">
		<div class="card">
			<ng-template [ngIf]="loading" [ngIfElse]="showTable">
				<skeleton-table-component [title]="title"></skeleton-table-component>
			</ng-template>
			<ng-template #showTable>
					<p-table #dt [value]="customerList" [paginator]="true"  [rows]="10"
					responsiveLayout="stack"  styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['customerCode','customerName','categoryName', 'createByName','balance', 'email', 'sellerName']">
						<ng-template pTemplate="header">
							<tr>
								<th pSortableColumn="customerCode">Id <p-sortIcon field="customerCode"></p-sortIcon> <p-columnFilter type="text" field="customerCode" display="menu" class="ml-auto" ></p-columnFilter></th>
								<th pSortableColumn="customerName">Nombre <p-sortIcon field="customerName"></p-sortIcon> <p-columnFilter type="text" field="customerName" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="categoryName">Categoria <p-sortIcon field="categoryName"></p-sortIcon> <p-columnFilter type="text" field="categoryName" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th pSortableColumn="address">Direccion <p-sortIcon field="address"></p-sortIcon> <p-columnFilter type="text" field="sellerName" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th pSortableColumn="sellerName">Vendedor <p-sortIcon field="sellerName"></p-sortIcon> <p-columnFilter type="text" field="sellerName" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th pSortableColumn="balance">Saldo <p-sortIcon field="balance"></p-sortIcon> <p-columnFilter type="text" field="balance" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th pSortableColumn="createByName">Creado por <p-sortIcon field="createByName"></p-sortIcon><p-columnFilter type="text" field="createByName" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="active">Estado <p-sortIcon field="active"></p-sortIcon></th>
								<th>Acción</th>
							</tr>
						</ng-template>
							<ng-template pTemplate="caption">
                                <h4 class="mt-2">{{title}}</h4>
								<div class="flex">
									<button pButton  class="ml-2" pRipple type="button" (click)="addCustomer()" pTooltip="Agregar nuevo cliente" tooltipPosition="bottom" label="Agregar" ></button>
									<span class="p-input-icon-left ml-auto">
										<i class="pi pi-search"></i>
										<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar una palabra" />
									</span>
								</div>
							</ng-template>
						<ng-template pTemplate="body" let-customer>
							<tr>
								<td style="width: 10%; min-width: 2rem;">
                                    <span class="p-column-title">Codigo:</span>
                                    {{customer.customerCode }}
                                </td>
								<td style="width: 20%; min-width: 7rem;">
                                    <span class="p-column-title">Nombre:</span>
                                    {{customer.customerName}}</td>
								<td style="width: 5%; min-width: 7rem;">
                                    <span class="p-column-title">Categoria:</span>
                                    {{customer.categoryName}}</td>
								<td style="width: 15%; min-width: 7rem;">
                                    <span class="p-column-title">Direccion:</span>
                                    {{customer.address}}</td>
								<td style="width: 10%; min-width: 7rem;">
                                    <span class="p-column-title">Vendedor:</span>
                                    {{customer.sellerName}}</td>
								<td style="width: 5%; min-width: 7rem;">
                                    <span class="p-column-title">Balance:</span>
                                    {{customer.balance | currency:'L.'}}</td>
								<td style="width: 15%; min-width: 4rem;">
                                    <span class="p-column-title">Creado:</span>
                                    {{customer.createByName}}</td>
								<td style="width: 5%; min-width: 4rem;">
                                    <span class="p-column-title">Estatus:</span>
									<ng-template [ngIf]="customer.active" [ngIfElse]="inactive">
										<p-chip label="Activo" styleClass="custom-chip" icon="pi pi-check"></p-chip>
									</ng-template>
									<ng-template #inactive>
										<p-chip label="Inactivo" icon="pi pi-check"></p-chip>
									</ng-template>
								</td>
								<td style="width: 25%;">
                                    <button pTooltip="Asignar precios especiales" (click)="addPrice(customer)"  pButton pRipple type="button" icon="pi pi-money-bill" class="p-button-rounded p-button-help mr-2"></button>
                                    <button [disabled]="disabled" type="button" pButton pRipple
                                    pTooltip="Historial transacciones" tooltipPosition="bottom" icon="pi pi-eye"
                                    (click)="showBpJornal(customer.customerId)" class="p-button-rounded p-button-warning mr-2"></button>
                                    <button pTooltip="Editar" (click)="editCustomer(customer)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-primary "></button>

                                </td>
							</tr>
						</ng-template>
					</p-table>
			</ng-template>
		</div>
	</div>
	<app-customers-dialog (CustomerModify)="customerModify($event)"></app-customers-dialog>
	<app-customer-special-price-dialog></app-customer-special-price-dialog>
	<app-customer-price-list-assignment></app-customer-price-list-assignment>
    <app-customer-balance></app-customer-balance>
</div>

