:host ::ng-deep .p-chip.custom-chip {
    background: #498b49!important;
    color: var(--primary-color-text) !important;
}

:host ::ng-deep .p-chip.custom-chip-canceled {
    background: #a74e4e!important;
    color: var(--primary-color-text) !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    gap: 8px;
}

.search-container {
    margin-top: 8px;
    width: 100%;
}
