.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    gap: 8px;
}

.search-container {
    margin-top: 8px;
    width: 100%;
}
