<div class="grid">
	<div class="col-12 xl:col-12">
		<div class="card">
			<ng-template [ngIf]="loading" [ngIfElse]="showTable">
				<skeleton-table-component [title]="title"></skeleton-table-component>
			</ng-template>

			<ng-template #showTable>
					<p-table #dt [value]="sellerList" [paginator]="true"  [rows]="5"
					responsiveLayout="scroll"  styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['sellerId','sellerName','regionName', 'createByName', 'email']">
						<ng-template pTemplate="header">
							<tr>
								<th pSortableColumn="sellerId">Id <p-sortIcon field="sellerId"></p-sortIcon> <p-columnFilter type="text" field="sellerId" display="menu" class="ml-auto" ></p-columnFilter></th>
								<th pSortableColumn="sellerName">Nombre <p-sortIcon field="sellerName"></p-sortIcon> <p-columnFilter type="text" field="sellerName" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th pSortableColumn="regionName">Vendedor <p-sortIcon field="regionName"></p-sortIcon> <p-columnFilter type="text" field="regionName" display="menu" class="ml-auto"></p-columnFilter></th>
                                <th pSortableColumn="createByName">Creado por <p-sortIcon field="createByName"></p-sortIcon><p-columnFilter type="text" field="createByName" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="active">Estado <p-sortIcon field="active"></p-sortIcon></th>
								<th>Acción</th>
							</tr>
						</ng-template>
							<ng-template pTemplate="caption">
                                <h4 class="mt-2">{{title}}</h4>
								<div class="flex">
									<button pButton  class="ml-2" pRipple type="button" (click)="addSeller()" pTooltip="Agregar nuevo usuario" tooltipPosition="bottom" label="Agregar" ></button>
									<span class="p-input-icon-left ml-auto">
										<i class="pi pi-search"></i>
										<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar una palabra" />
									</span>
								</div>
							</ng-template>
						<ng-template pTemplate="body" let-seller>
							<tr>
								<td style="width: 10%; min-width: 2rem;">{{seller.sellerId }}</td>
								<td style="width: 35%; min-width: 10rem;">{{seller.sellerName}}</td>
                                <td style="width: 35%; min-width: 7rem;">{{seller.regionName}}</td>
								<td style="width: 25%; min-width: 4rem;">{{seller.createByName}}</td>
								<td style="width: 15%; min-width: 4rem;">
									<ng-template [ngIf]="seller.active" [ngIfElse]="inactive">
										<p-chip label="Activo" styleClass="custom-chip" icon="pi pi-check"></p-chip>
									</ng-template>
									<ng-template #inactive>
										<p-chip label="Inactivo" icon="pi pi-check"></p-chip>
									</ng-template>
								</td>
								<td style="width: 20%;">
									<button (click)="editSeller(seller)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button p-component p-button-text p-button-icon-only"></button>
								</td>
							</tr>
						</ng-template>
					</p-table>

			</ng-template>
		</div>
	</div>
	<app-seller-dialog (SellerModify)="sellerModify($event)"></app-seller-dialog>
</div>


