<p-dialog header="{{isAdd ? 'Agregar': 'Editar'}} pago de factura de compra" [(visible)]="display" modal="true"
    blockScroll="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '1050px', height: '800px'}">
    <ng-container>
        <ng-template [ngIf]="loading" [ngIfElse]="data">
            <skeleton-table-component [title]="title"></skeleton-table-component>
        </ng-template>
        <ng-template #data readonly="disable">
            <form [formGroup]="formPurchase" *ngIf="formPurchase" class="mb-5">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <div class="p-inputgroup">
                                <button [disabled]="disabled" type="button" pButton pRipple icon="pi pi-search"
                                    (click)="showDialogSupplier()"></button>
                                <input id="supplierCode" [disabled]="disabled" type="text" pInputText
                                    formControlName="supplierCode" placeholder="Buscar Proveedor"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <input [disabled]="disabled" id="itemCode" type="text" pInputText
                                    formControlName="supplierName"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                    placeholder="Nombre Proveedor">
                            </div>
                        </span>
                        <div
                            *ngIf="formPurchase.controls['supplierName'].invalid && formPurchase.controls['supplierName'].dirty">
                            <small *ngIf="formPurchase.controls['supplierName'].errors.required" id="supplierName"
                                class="p-error block">Proveedor es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <p-dropdown [options]="payConditionList" formControlName="payConditionId"
                                optionValue="payConditionId" optionLabel="payConditionName"></p-dropdown>
                            <label for="payConditionId">Condicion de pago</label>
                        </span>
                        <div
                            *ngIf="formPurchase.controls['payConditionId'].invalid && formPurchase.controls['payConditionId'].dirty">
                            <small *ngIf="formPurchase.controls['payConditionId'].errors.required" id="payConditionId"
                                class="p-error block">Condicion de pago es requerido</small>
                        </div>
                    </div>

                    <div class="col-12 md:col-6">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <i class="pi pi-comments"></i>
                            <input id="comment" [disabled]="disabled" type="text" pInputText formControlName="comment"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <label for="comment">Comentario</label>
                        </span>
                        <div *ngIf="formPurchase.controls['comment'].invalid && formPurchase.controls['comment'].dirty">
                            <small *ngIf="formPurchase.controls['comment'].errors.required" id="comment"
                                class="p-error block">Comentario es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <i class="pi pi-comments"></i>
                            <input id="reference" [disabled]="disabled" type="text" pInputText
                                formControlName="reference" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <label for="reference">Referencia</label>
                        </span>
                        <div
                            *ngIf="formPurchase.controls['reference'].invalid && formPurchase.controls['reference'].dirty">
                            <small *ngIf="formPurchase.controls['reference'].errors.required" id="reference"
                                class="p-error block">Referencia es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-12">
                        <p-table #dt [value]="detail" [rowHover]="true"
                            responsiveLayout="scroll" styleClass="p-datatable-sm p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="docId">N° Factura </th>
                                    <th pSortableColumn="supplierCode">Fecha </th>
                                    <th pSortableColumn="supplierName">Vencimiento </th>
                                    <th pSortableColumn="subTotal">Subtotal </th>
                                    <th pSortableColumn="discountTotal">Descuentos </th>
                                    <th pSortableColumn="TaxTotal">ISV </th>
                                    <th pSortableColumn="docTotal">Total </th>
                                    <th pSortableColumn="balance">Pendiente </th>
                                    <th pSortableColumn="sumApplied">Pago </th>
                                    <th>Accion</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="caption">
                            </ng-template>
                            <ng-template pTemplate="body" let-order>
                                <tr>
                                    <td style="width: 10%; min-width: 2rem;">{{order.invoiceId}}</td>
                                    <td style="width: 10%; min-width: 5rem;">{{order.invoiceDate |date:'dd/MM/yyyy'}}</td>
                                    <td style="width: 10%; min-width: 4rem;">{{order.dueDate |date:'dd/MM/yyyy'}}
                                    </td>
                                    <td style="width: 10%; min-width: 5rem;">{{order.subTotal | currency:'L. '}}</td>
                                    <td style="width: 10%; min-width: 5rem;">{{order.discountTotal | currency:'L. '}}</td>
                                    <td style="width: 10%; min-width: 5rem;">{{order.taxTotal | currency:'L. '}}</td>
                                    <td style="width: 10%; min-width: 5rem;">{{order.lineTotal | currency:'L. '}}</td>
                                    <td style="width: 10%; min-width: 5rem;">{{order.balance | currency:'L. '}}</td>
                                    <td style="width: 25%; min-width: 5rem;">
                                        <input #sumApplied id="sumApplied"  pInputText type="number"
                                        (ngModelChange)="calculateTotal()" [(ngModel)]="order.sumApplied" mode="decimal"
                                        [minFractionDigits]="2" [min]="0" [max]="1000000"
                                        [ngModelOptions]="{standalone: true}" />
                                    </td>
                                    <td style="width: 10%;"><span class="p-column-title">Acción</span>
                                        <button [disabled]="disabled" (click)="deleteLine(order.invoiceId)" pButton
                                            pRipple type="button" icon="pi pi-trash"
                                            class="p-button p-component p-button-text p-button-icon-only"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td>Total a pagar:</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{doctotal | currency:'L. '}}</td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </form>

            <app-supplier-browser (SupplierSelect)="browserSupplier($event)"></app-supplier-browser>
            <app-purchase-invoice-dialog (InvoiceSelect)="selectInvoice($event)"></app-purchase-invoice-dialog>
            <app-payment-metod-dialog (PaymentMetod)="selectPaymentMetod($event)"></app-payment-metod-dialog>
        </ng-template>
        <ng-template pTemplate="footer">
            <br>
            <br>
            <br>
            <br>
            <br>
            <ng-template [ngIf]="isAdd" [ngIfElse]="addButton">
                <button pButton type="button" [disabled]="formPurchase.invalid || loading" (click)="addMetod()"
                    label="Agregar"></button>
            </ng-template>
            <ng-template #addButton>

            </ng-template>
        </ng-template>
    </ng-container>
</p-dialog>
