:host ::ng-deep {
    .connection-status {
      &[style*="background-color: #00b300"] {
        background: linear-gradient(135deg, #00b300, #00e600) !important;
        box-shadow: 0 0 10px #00b300, 0 0 40px #00b300, 0 0 80px #00b300;
      }

      &[style*="background-color: #ff0000"] {
        background: linear-gradient(135deg, #ff0000, #ff3300) !important;
        box-shadow: 0 0 10px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000;
      }
    }
  }

.total-cell {
    font-weight: bold;
    color: gray;
}

#quantity {
    border: none;
    outline: none;
}

.p-button-success {
    background-color: #4caf50 !important; /* Verde personalizado */
}

.p-button-info {
    background-color: #2196f3 !important; /* Azul personalizado */
}
