<p-dialog header="{{isAdd ? 'Agregar': 'Editar'}} factura de venta" [(visible)]="display" modal="true"
    blockScroll="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80%'}">
    <!-- <h5>Conexion a internet: {{status ? 'Conectado':'Desconectado'}}</h5> -->
    <ng-container>
        <ng-template [ngIf]="loading" [ngIfElse]="data">
            <skeleton-table-component [title]="title"></skeleton-table-component>
        </ng-template>
        <ng-template #data readonly="disable">

            <form [formGroup]="formInvoice" *ngIf="formInvoice" class="mb-5">
                <div class="grid p-fluid">
                    <div class="col-6 md:col-6 mt-4">
                        <p-chip
                            [style]="{'background-color': status ? '#4CAF50' : '#FF5722', 'color': 'white', 'border-radius': '5px', 'padding': '8px', 'display': 'flex', 'align-items': 'center'}">
                            <i [class]="status ? 'pi pi-check' : 'pi pi-times'" style="margin-right: 8px;"></i>
                            <span>{{status ? 'Conectado' : 'Desconectado'}}</span>
                        </p-chip>
                    </div>
                    <div class="col-6 md:col-6 mt-4">
                        <span class="p-float-label p-input-icon-left">
                            <p-dropdown [options]="payConditionListFilter" formControlName="payConditionId"
                                optionValue="payConditionId" optionLabel="payConditionName"></p-dropdown>
                            <label for="payConditionId">Condicion de pago</label>
                        </span>
                        <div
                            *ngIf="formInvoice.controls['payConditionId'].invalid && formInvoice.controls['payConditionId'].dirty">
                            <small *ngIf="formInvoice.controls['payConditionId'].errors.required" id="payConditionId"
                                class="p-error block">Condicion de pago es requerido</small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12" [hidden]="true">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <p-dropdown [disabled]="disabledwsh" [options]="sarList" formControlName="correlativeId"
                                optionValue="correlativeId" optionLabel="description"></p-dropdown>
                            <label for="correlativeId">Numeracion</label>
                        </span>
                        <div
                            *ngIf="formInvoice.controls['correlativeId'].invalid && formInvoice.controls['correlativeId'].dirty">
                            <small *ngIf="formInvoice.controls['correlativeId'].errors.required" id="correlativeId"
                                class="p-error block">Numeracion es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-12">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <div class="p-inputgroup">
                                <button [disabled]="disabled" type="button" pButton pRipple icon="pi pi-search"
                                    (click)="showDialogCustomer()" pTooltip="Buscar Clientes"
                                    tooltipPosition="bottom"></button>
                                <input id="customerCode" [disabled]="disabled" type="text" pInputText
                                    formControlName="customerCode" [attr.disabled]="true" placeholder="Buscar Cliente"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <input [disabled]="disabled" id="itemCode" type="text" pInputText
                                    formControlName="customerName" [attr.disabled]="true"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="">
                            </div>
                        </span>
                        <div
                            *ngIf="formInvoice.controls['customerName'].invalid && formInvoice.controls['customerName'].dirty">
                            <small *ngIf="formInvoice.controls['customerName'].errors.required" id="customerName"
                                class="p-error block">Cliente es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6" [hidden]="true">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <p-dropdown [disabled]="disabledwsh" [options]="wareHouseList" formControlName="whsCode"
                                optionValue="whsCode" optionLabel="whsName"></p-dropdown>
                            <label for="whsCode">Almacen</label>
                        </span>
                        <div *ngIf="formInvoice.controls['whsCode'].invalid && formInvoice.controls['whsCode'].dirty">
                            <small *ngIf="formInvoice.controls['whsCode'].errors.required" id="whsCode"
                                class="p-error block">Almacen es requerido</small>
                        </div>
                    </div>


                    <div class="col-12 md:col-6" [hidden]="true">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <p-dropdown [options]="sellerList" formControlName="sellerId" optionValue="sellerId"
                                optionLabel="sellerName"></p-dropdown>
                            <label for="sellerId">Vendedor</label>
                        </span>
                        <div *ngIf="formInvoice.controls['sellerId'].invalid && formInvoice.controls['sellerId'].dirty">
                            <small *ngIf="formInvoice.controls['sellerId'].errors.required" id="sellerId"
                                class="p-error block">Vendedor es requerido</small>
                        </div>
                    </div>

                    <div class="col-6 md:col-6 linea">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <i class="pi pi-comments"></i>
                            <input id="comment" [disabled]="disabled" type="text" pInputText formControlName="comment"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <label for="comment">Comentario</label>
                        </span>
                        <div *ngIf="formInvoice.controls['comment'].invalid && formInvoice.controls['comment'].dirty">
                            <small *ngIf="formInvoice.controls['comment'].errors.required" id="comment"
                                class="p-error block">Comentario es requerido</small>
                        </div>
                    </div>
                    <div class="col-6 md:col-6 linea">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <i class="pi pi-comments"></i>
                            <input id="reference" [disabled]="disabled" type="text" pInputText
                                formControlName="reference" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <label for="reference">Referencia</label>
                        </span>
                        <div
                            *ngIf="formInvoice.controls['reference'].invalid && formInvoice.controls['reference'].dirty">
                            <small *ngIf="formInvoice.controls['reference'].errors.required" id="reference"
                                class="p-error block">Referencia es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-12">
                        <sw-item-list *ngFor="let item of list" [inside]="item" [item-class]="'list-custom'"
                            [editTemplate]="editTemplate" [trashTemplate]="trashTemplate" (callback)="action($event)">
                        </sw-item-list>
                        <ng-template #editTemplate>
                            <button [disabled]="disabled" (click)="deleteLine(detail.itemCode)" pButton pRipple
                                type="button" icon="pi pi-trash"
                                class="p-button p-component p-button-text p-button-icon-only"></button>
                        </ng-template>

                        <ng-template #trashTemplate>
                            <button [disabled]="disabled" (click)="deleteLine(detail.itemCode)" pButton pRipple
                                type="button" icon="pi pi-trash"
                                class="p-button p-component p-button-text p-button-icon-only"></button>
                        </ng-template>


                    </div>
                    <div class="col-12 md:col-12">
                        <p-table #dt [value]="invoice.detail" responsiveLayout="scroll"
                            styleClass="p-datatable-sm p-datatable-striped"
                            [globalFilterFields]="['itemCode','itemName', 'quantity', 'itemName']" scrollHeight="264px"
                            [virtualScroll]="true" [virtualRowHeight]="10" [rows]="1">
                            <ng-template pTemplate="header">
                                <tr [pSelectableRow]="rowData">
                                    <!-- <th>Codigo</th> -->
                                    <th>Descripcion </th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <!-- <th>Stock Actual</th> -->
                                    <!-- <th>Vencimiento</th>
                                    <th>Unidad</th> -->
                                    <th>Total</th>
                                    <th>Accion</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="caption">
                                <!-- <div style="width: 200px;">
                                    <button [disabled]="disabled" pButton class="ml-2" pRipple type="button"
                                        (click)="addLine(invoice.detail)" pTooltip="Agregar nueva linea"
                                        tooltipPosition="bottom" label="Agregar Linea"></button>
                                </div> -->
                                <div class="p-inputgroup">
                                    <input [autofocus]="true" #barcode id="barcode" [disabled]="disabled" type="text"
                                        pInputText (keydown.enter)="findBarcode(barcode.value); barcode.value=''"
                                        placeholder="Buscar producto"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <button [disabled]="disabled" type="button" pButton pRipple icon="pi pi-search"
                                        pTooltip="Buscar Productos" tooltipPosition="bottom"
                                        (click)="addLine(invoice.detail, rowIndex)"></button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="body" let-detail let-rowIndex="rowIndex" (swipeleft)="onSwipeLeft(detail)" (swiperight)="onSwipeRight(detail)">
                                <tr>
                                    <td>
                                        <span class="p-column-title">Descripcion:</span>
                                        <p-cellEditor>

                                            <ng-template pTemplate="output">
                                                {{detail.itemName}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Cantidad</span>
                                        <input #quantity id="quantity" [disabled]="disabled" pInputText type="number"
                                            (ngModelChange)="calculate()" [(ngModel)]="detail.quantity" mode="decimal"
                                            [minFractionDigits]="2" [min]="0" [max]="1000000"
                                            [ngModelOptions]="{standalone: true}" />
                                    </td>
                                    <td>
                                        <span class="p-column-title">Precio:</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input [disabled]="disabled" pInputText type="text"
                                                    (ngModelChange)="calculate()" [(ngModel)]="detail.price"
                                                    [ngModelOptions]="{standalone: true}">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.price}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Total:</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input [disabled]="disabled" pInputText type="text"
                                                    [(ngModel)]="detail.lineTotal"
                                                    [ngModelOptions]="{standalone: true}">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.lineTotal}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width: 12%;"><span class="p-column-title">Acción</span>
                                        <button [disabled]="disabled" (click)="deleteLine(detail.itemCode)" pButton
                                            pRipple type="button" icon="pi pi-trash"
                                            class="p-button p-component p-button-text p-button-icon-only"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <!-- <td></td>
                                    <td></td> -->

                                    <td>Sub total</td>
                                    <td>{{subdoctotal | currency: 'L. '}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <!-- <td></td>
                                    <td></td> -->

                                    <td>Descuento</td>
                                    <td>
                                        <p-inputNumber [disabled]="disabled" inputId="percent" prefix="%"
                                            [(ngModel)]="descuento" (ngModelChange)="calculate()"
                                            [ngModelOptions]="{standalone: true}"></p-inputNumber>
                                    </td>
                                    <td>{{descuentoTotal | currency: 'L. '}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <!-- <td></td>
                                    <td></td> -->

                                    <td>Impuesto</td>
                                    <td>{{tax | currency: 'L. '}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total General</td>

                                    <td>{{docQuantity}}</td>

                                    <td>Total</td>
                                    <td>{{doctotal | currency: 'L. '}}</td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </form>
            <app-items-browser-price-sales (ItemSelect)="browserItems($event)"></app-items-browser-price-sales>
            <app-customer-browser (CustomerSelect)="browserCustomer($event)"></app-customer-browser>
            <app-payment-metod-dialog (PaymentMetod)="selectPaymentMetod($event)"></app-payment-metod-dialog>
        </ng-template>

        <ng-template pTemplate="footer">
            <!-- <td class="total-cell">Total: {{ doctotal | currency: 'L. ' }}</td> -->
            <ng-template [ngIf]="isAdd" [ngIfElse]="addButton">
                <button pButton type="button" [disabled]="formInvoice.invalid || loading" (click)="addTypeInvoice()"
                    label="Agregar"></button>
            </ng-template>
            <ng-template #addButton>
                <button pButton type="button" [disabled]="formInvoice.invalid || loading" (click)="edit()"
                    label="Editar"></button>
                <button pButton type="button" (click)="cancelInvoice()" class="p-button-danger" label="Anular"></button>
            </ng-template>
        </ng-template>
    </ng-container>
</p-dialog>
