<p-dialog header="{{title}}" [(visible)]="display" modal="true" blockScroll="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '850px', height: '800px'}">
    <ng-template [ngIf]="loading" [ngIfElse]="showTable">
        <skeleton-table-component [title]="title"></skeleton-table-component>
    </ng-template>

    <ng-template #showTable>
        <p-table #dt [value]="orderList" dataKey="docId" [(selection)]="selected" [rowHover]="true" [paginator]="true"  [rows]="7"
        responsiveLayout="scroll"  styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['docId','docTotal','order','customerName','customerCode']">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p-tableHeaderCheckbox (click)="calculateTotal()"></p-tableHeaderCheckbox>
                    </th>
                    <th>N° Factura</th>
                    <th>Referencia </th>
                    <th>Total</th>
                    <th>Saldo Pendiente</th>
                    <th>Dias Vencidos</th>
                    <th>Creado por</th>
                    <th>Estatus</th>
                </tr>
            </ng-template>
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar una palabra" />
                        </span>
                    </div>
                </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="order" (click)="calculateTotal()"></p-tableCheckbox>
                    </td>
                    <td style="width: 10%; min-width: 2rem;">{{order.docId}}</td>
                    <td style="width: 15%; min-width: 5rem;">{{order.reference}}</td>
                    <td style="width: 15%; min-width: 5rem;">{{order.docTotal | currency:'L. '}}</td>
                    <td style="width: 15%; min-width: 5rem;">{{order.balance | currency:'L. '}}</td>
                    <td style="width: 15%; min-width: 4rem;">  {{ getTimeDifference(order.dueDate) | number }}</td>
                    <td style="width: 10%; min-width: 4rem;">{{order.createByName}}</td>
                    <td style="width: 10%; min-width: 4rem;">
                        <ng-template [ngIf]="order.complete" [ngIfElse]="inactive">
                            <p-chip label="Completado" styleClass="custom-chip" icon="pi pi-check"></p-chip>
                        </ng-template>
                        <ng-template #inactive>
                            <p-chip label="Pendiente" icon="pi pi-check"></p-chip>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td></td>
                    <td>Total a pagar</td>
                    <td></td>
                    <td>{{selectTotal | currency:'L. '}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
        <button pButton class="ml-2" pRipple type="button" (click)="selectOrder()"  tooltipPosition="bottom" label="Seleccionar" ></button>
    </ng-template>
</p-dialog>
