<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <ng-template [ngIf]="loading" [ngIfElse]="showTable">
                <skeleton-table-component [title]="title"></skeleton-table-component>
            </ng-template>
            <ng-template #showTable>
                <form [formGroup]="formFilter" *ngIf="formFilter" class="mb-5">
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-4">
                            <span class="mt-4 p-float-label p-input-icon-left">
                                <i class="pi pi-calendar"></i>
                                <input id="from" type="date" pInputText formControlName="from">
                                <label for="from">Desde</label>
                            </span>
                            <div *ngIf="formFilter.controls['from'].invalid && formFilter.controls['from'].dirty">
                                <small *ngIf="formFilter.controls['from'].errors.required" id="from"
                                    class="p-error block">Desde es requerido</small>
                            </div>
                        </div>
                        <div class="col-12 md:col-4">
                            <span class="mt-4 p-float-label p-input-icon-left">
                                <i class="pi pi-calendar"></i>
                                <input id="to" type="date" pInputText formControlName="to">
                                <label for="to">Hasta</label>
                            </span>
                            <div *ngIf="formFilter.controls['to'].invalid && formFilter.controls['to'].dirty">
                                <small *ngIf="formFilter.controls['to'].errors.required" id="to"
                                    class="p-error block">Hasta es requerido</small>
                            </div>
                        </div>
                        <div class="col-12 md:col-2">
                            <button class="mt-4" pButton type="button" [disabled]="formFilter.invalid || loading"
                                (click)="search()" label="Buscar"></button>
                        </div>
                    </div>
                </form>
                <p-table #dt [value]="orderList" [paginator]="true" [rows]="7" responsiveLayout="scroll"
                    styleClass="p-datatable-sm p-datatable-gridlines"
                    [globalFilterFields]="['docId','docTotal','order','customerName','customerCode']">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="docId">Id <p-sortIcon field="docId"></p-sortIcon> <p-columnFilter
                                    type="text" field="docId" display="menu" class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="customerCode">Cliente <p-sortIcon field="customerCode"></p-sortIcon>
                                <p-columnFilter type="text" field="customerCode" display="menu"
                                    class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="customerName">Nombre<p-sortIcon field="customerName"></p-sortIcon>
                                <p-columnFilter type="text" field="customerName" display="menu"
                                    class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="sellerName">Vendedor<p-sortIcon field="sellerName"></p-sortIcon>
                                <p-columnFilter type="text" field="customerName" display="menu"
                                    class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="docTotal">Total<p-sortIcon field="docTotal"></p-sortIcon>
                                <p-columnFilter type="text" field="docTotal" display="menu"
                                    class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="order">Fecha de creacion<p-sortIcon field="order"></p-sortIcon>
                                <p-columnFilter type="text" field="order" display="menu"
                                    class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="order">Creado por<p-sortIcon field="order"></p-sortIcon>
                                <p-columnFilter type="text" field="order" display="menu"
                                    class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="complete">Estatus<p-sortIcon field="complete"></p-sortIcon>
                                <p-columnFilter type="text" field="order" display="menu"
                                    class="ml-auto"></p-columnFilter></th>
                            <th>Acción</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="caption">
                        <div class="header-container">
                            <h4>{{title}}</h4>
                            <div class="button-container">
                                <button pButton class="p-button-text" class="ml-2" type="button" (click)="addOrder()"
                                    pTooltip="Agregar nuevo pedido de venta" tooltipPosition="bottom" label="Agregar"
                                    icon="pi pi-plus"></button>
                            </div>
                            <div class="search-container">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Buscar una palabra" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td style="width: 5%; min-width: 2rem;">
                                <ng-container *ngIf="order.docId === 0; else showDocId">
                                    <p-chip styleClass="offline-chip">
                                        <i class="pi pi-exclamation-triangle" style="margin-right: 4px;"></i>
                                        <!-- Icono de advertencia -->
                                        Offline
                                    </p-chip>
                                </ng-container>
                                <ng-template #showDocId>{{ order.docId }}</ng-template>
                            </td>
                            <td style="width: 10%; min-width: 5rem;">{{order.customerCode}}</td>
                            <td style="width: 18%; min-width: 4rem;">{{order.customerName}}</td>
                            <td style="width: 13%; min-width: 4rem;">{{order.sellerName}}</td>
                            <td style="width: 10%; min-width: 5rem;">{{order.docTotal | currency:'L. '}}</td>
                            <td style="width: 10%; min-width: 4rem;">{{order.docDate |date:'dd/MM/yyyy H:mm a'}}</td>
                            <td style="width: 10%; min-width: 4rem;">{{order.createByName}}</td>
                            <td style="width: 15%; min-width: 4rem;">
                                <ng-container *ngIf="order.docId === 0; else showStatus">
                                    <p-chip label="Offline" styleClass="custom-chip-offline"
                                        icon="pi pi-exclamation-triangle"></p-chip>
                                </ng-container>
                                <ng-template #showStatus>
                                    <ng-template [ngIf]="order.complete" [ngIfElse]="inactive">
                                        <p-chip label="Completado" styleClass="custom-chip" icon="pi pi-check"></p-chip>
                                    </ng-template>
                                    <ng-template #inactive>
                                        <p-chip label="Pendiente" icon="pi pi-check"></p-chip>
                                    </ng-template>
                                </ng-template>
                            </td>
                            <td style="width: 25%;">
                                <ng-container *ngIf="order.docId === 0; else showButtons">
                                    <!-- Botón de sincronización -->
                                    <button (click)="syncOrder(order)" pButton pTooltip="Sincronizar" type="button"
                                        icon="pi pi-sync"
                                        class="p-button-warning p-button-text p-button-icon-only"></button>
                                    <button [disabled]="order.complete" (click)="editOrder(order)" pButton
                                        pTooltip="Editar" pRipple type="button" icon="pi pi-pencil"
                                        class="p-button p-component p-button-text p-button-icon-only"></button>
                                    <button (click)="print(order)" pButton pRipple pTooltip="Imprimir" type="button"
                                        icon="pi pi-print"
                                        class="p-button-help p-component p-button-text p-button-icon-only"></button>
                                </ng-container>
                                <ng-template #showButtons>
                                    <!-- Botones de edición e impresión -->
                                    <button [disabled]="order.complete" (click)="editOrder(order)" pButton
                                        pTooltip="Editar" pRipple type="button" icon="pi pi-pencil"
                                        class="p-button p-component p-button-text p-button-icon-only"></button>
                                    <!-- <button [disabled]="!order.complete" (click)="viewOrder(order)" pButton
                                        pTooltip="Vizualizar" pRipple type="button" icon="pi pi-eye"
                                        class="p-button p-component p-button-text p-button-icon-only"></button> -->
                                    <button (click)="print(order)" pButton pRipple pTooltip="Imprimir" type="button"
                                        icon="pi pi-print"
                                        class="p-button-help p-component p-button-text p-button-icon-only"></button>
                                </ng-template>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
        </div>
    </div>
    <!-- <app-orders-sale-dialog (OrderSaleModify)="orderModify($event)"></app-orders-sale-dialog> -->
</div>
