.highlighted-text {
    font-weight: bold; /* Cambia el peso de la fuente para resaltar */
    color: red; /* Cambia el color del texto para resaltar */
    /* Puedes agregar otros estilos de resaltado según tus preferencias */
  }
  .align-right-button {
    float: right;
}
