<div class="grid">
	<div class="col-12 xl:col-12">
		<div class="card">
			<ng-template [ngIf]="loading" [ngIfElse]="showTable">
				<skeleton-table-component [title]="title"></skeleton-table-component>
			</ng-template>
			<ng-template #showTable>
					<p-table #dt [value]="transactionTypeList" [paginator]="true"  [rows]="5"
					responsiveLayout="scroll"  styleClass="p-datatable-sm p-datatable-gridlines" [globalFilterFields]="['id','name','transaction', 'createByName', 'email']">
						<ng-template pTemplate="header">
							<tr>
								<th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon> <p-columnFilter type="text" field="id" display="menu" class="ml-auto" ></p-columnFilter></th>
								<th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon> <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="transaction">Tipo <p-sortIcon field="transaction"></p-sortIcon> <p-columnFilter type="text" field="transaction" display="menu" class="ml-auto"></p-columnFilter></th>
								<th pSortableColumn="createByName">Creado por <p-sortIcon field="createByName"></p-sortIcon><p-columnFilter type="text" field="createByName" display="menu" class="ml-auto"></p-columnFilter></th>
								<th>Acción</th>
							</tr>
						</ng-template>
							<ng-template pTemplate="caption">
                                <h4 class="mt-2">{{title}}</h4>
								<div class="flex">
									<button pButton  class="ml-2" pRipple type="button" (click)="addInventoryTypeTransaction()" pTooltip="Agregar nuevo categoria" tooltipPosition="bottom" label="Agregar" ></button>
									<span class="p-input-icon-left ml-auto">
										<i class="pi pi-search"></i>
										<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar una palabra" />
									</span>
								</div>
							</ng-template>
						<ng-template pTemplate="body" let-itemCategory>
							<tr>
								<td style="width: 10%; min-width: 2rem;">{{itemCategory.id }}</td>
								<td style="width: 35%; min-width: 7rem;">{{itemCategory.name}}</td>
								<td style="width: 35%; min-width: 7rem;">{{itemCategory.transaction}}</td>
								<td style="width: 25%; min-width: 4rem;">{{itemCategory.createByName}}</td>
								<td style="width: 20%;">
									<button (click)="editInventoryTypeTransaction(itemCategory)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button p-component p-button-text p-button-icon-only"></button>
								</td>
							</tr>
						</ng-template>
					</p-table>

			</ng-template>
		</div>
	</div>
	<app-inventario-transaction-type-dialog (InventoryTransactionTypeModify)="InventoryTypeTransactionModify($event)"></app-inventario-transaction-type-dialog>
</div>
