.rojo {
    background-color: red;
    color: white; /* Puedes ajustar el color del texto según tu preferencia */
}

.verde {
    background-color: green;
    color: white; /* Puedes ajustar el color del texto según tu preferencia */
}

.azul {
    background-color: blue;
    color: white; /* Puedes ajustar el color del texto según tu preferencia */
}
