.rojo {
    background-color: red;
    color: white; /* Puedes ajustar el color del texto según tu preferencia */
}

.verde {
    background-color: green;
    color: white; /* Puedes ajustar el color del texto según tu preferencia */
}

.azul {
    background-color: blue;
    color: white; /* Puedes ajustar el color del texto según tu preferencia */
}

:host ::ng-deep {
    .full-screen-dialog {
        width: 100vw !important;
        height: 100vh !important;
        max-height: 100vh !important;
        margin: 0;
        padding: 0;

        .p-dialog-header {
            border-radius: 0;
            padding: 1rem 1.5rem;
        }

        .p-dialog-content {
            height: calc(100vh - 10rem) !important;
            border-radius: 0;
            padding: 0 1.5rem;
        }

        .p-dialog-footer {
            border-radius: 0;
            padding: 1rem 1.5rem;
        }
    }

    .highlight-column {
        background-color: #e3f2fd !important;
    }

    .highlight-input {
        background-color: #bbdefb !important;
    }

    .highlight-text {
        font-weight: bold;
        color: #1976d2;
    }
}

// Para mejorar la responsividad de la tabla
.p-datatable-responsive-stack {
    @media screen and (max-width: 640px) {
        .p-column-title {
            min-width: 30%;
            display: inline-block;
        }
    }
}
