<p-dialog header="Movimientos" [(visible)]="display" modal="true" blockScroll="true"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '960px', height: '800px'}">
    <ng-template [ngIf]="loading" [ngIfElse]="showTable">
        <skeleton-table-component [title]="title"></skeleton-table-component>
    </ng-template>
    <ng-template #showTable>
        <form [formGroup]="formFilter" *ngIf="formFilter" class="mb-5">
            <div class="grid p-fluid">
                <div class="col-12 md:col-3">
                    <span class="mt-4 p-float-label p-input-icon-left">
                        <i class="pi pi-calendar"></i>
                        <p-calendar formControlName="from" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                        <label for="from">Desde</label>
                    </span>
                    <div *ngIf="formFilter.controls['from'].invalid && formFilter.controls['from'].dirty" >
                        <small  *ngIf="formFilter.controls['from'].errors.required" id="from" class="p-error block">Desde es requerido</small>
                    </div>
                </div>
                <div class="col-12 md:col-3">
                    <span class="mt-4 p-float-label p-input-icon-left">
                        <i class="pi pi-calendar"></i>
                        <p-calendar formControlName="to" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                        <label for="to">Hasta</label>
                    </span>
                    <div *ngIf="formFilter.controls['to'].invalid && formFilter.controls['to'].dirty" >
                        <small  *ngIf="formFilter.controls['to'].errors.required" id="to" class="p-error block">Hasta es requerido</small>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <span class="mt-4 p-float-label p-input-icon-left">
                        <p-dropdown [disabled]="disabled" [options]="wareHouseList" formControlName="whsCode"
                            optionValue="whsCode" optionLabel="whsName"></p-dropdown>
                        <label for="whsCode">Almacen</label>
                    </span>
                    <div *ngIf="formFilter.controls['whsCode'].invalid && formFilter.controls['whsCode'].dirty">
                        <small *ngIf="formFilter.controls['whsCode'].errors.required" id="whsCode"
                            class="p-error block">Almacen es requerido</small>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <button class="mt-4" pButton type="button"  [disabled]="formFilter.invalid || loading"  (click)="_getData()" label="Buscar" ></button>
                </div>
            </div>
        </form>
            <p-table #dt [value]="jornalList" [rowHover]="true" [paginator]="true" [rows]="10" responsiveLayout="stack"
                styleClass="p-datatable-sm p-datatable-gridlines"
                [globalFilterFields]="['itemCode','itemName', 'documents', 'createByName','documentReferent']">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="itemCode">Codigo <p-sortIcon field="itemCode"></p-sortIcon>
                            <p-columnFilter type="text" field="itemCode" display="menu" class="ml-auto">
                            </p-columnFilter>
                        </th>
                        <th pSortableColumn="itemName">Nombre <p-sortIcon field="itemName"></p-sortIcon>
                            <p-columnFilter type="text" field="itemName" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th pSortableColumn="whsName">Almacen <p-sortIcon field="whsName"></p-sortIcon>
                            <p-columnFilter type="text" field="whsName" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th pSortableColumn="documents">Documento <p-sortIcon field="documents"></p-sortIcon>
                            <p-columnFilter type="text" field="documents" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th pSortableColumn="quantity">Cantidad <p-sortIcon field="quantity"></p-sortIcon>
                            <p-columnFilter type="text" field="quantity" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th pSortableColumn="transValue">Valor <p-sortIcon field="transValue"></p-sortIcon>
                            <p-columnFilter type="text" field="transValue" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th pSortableColumn="documentReferent">Referencia <p-sortIcon field="documentReferent"></p-sortIcon>
                            <p-columnFilter type="text" field="documentReferent" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th pSortableColumn="createByName">Creado por <p-sortIcon field="createByName"></p-sortIcon>
                            <p-columnFilter type="text" field="createByName" display="menu" class="ml-auto"></p-columnFilter>
                        </th>
                        <th pSortableColumn="createDate">Fecha <p-sortIcon field="createDate"></p-sortIcon>
                            <p-columnFilter type="text" field="createDate" display="menu" class="ml-auto"></p-columnFilter>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar una palabra" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="rowData">
                        <td style="width: 20%; min-width: 2rem;">{{item.itemCode}}</td>
                        <td style="width: 25%; min-width: 7rem;">{{item.itemName}}</td>
                        <td style="width: 15%; min-width: 7rem;">{{item.whsName}}</td>
                        <td style="width: 10%; min-width: 7rem;">{{item.documents}}</td>
                        <td style="width: 5%; min-width: 7rem;">{{item.quantity}}</td>
                        <td style="width: 10%; min-width: 7rem;">{{item.transValue | currency:'L'}}</td>
                        <td style="width: 5%; min-width: 7rem;">{{item.documentReferent}}</td>
                        <td style="width: 10%; min-width: 7rem;">{{item.createByName}}</td>
                        <td style="width: 15%; min-width: 7rem;">{{item.createDate |date:'dd/MM/yyyy H:mm a'}}</td>
                    </tr>
                </ng-template>
            </p-table>
    </ng-template>
</p-dialog>

