<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <ng-template [ngIf]="loading" [ngIfElse]="showTable">
                <skeleton-table-component [title]="title"></skeleton-table-component>
            </ng-template>

            <ng-template #showTable>
                <p-table #dt [value]="accountList" responsiveLayout="scroll"
                    styleClass="p-datatable-sm p-datatable-gridlines"
                    [globalFilterFields]="['customerId','customerCode','customerName','invoiceNumber','payConditionName','daysExpired','sellerName']">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <!-- <th pSortableColumn="customerCode">Cliente <p-sortIcon field="customerCode"></p-sortIcon>
                                <p-columnFilter type="text" field="customerCode" display="menu"
                                    class="ml-auto"></p-columnFilter></th> -->
                            <th pSortableColumn="customerName">Nombre Cliente<p-sortIcon
                                    field="customerName"></p-sortIcon> <p-columnFilter type="text" field="customerName"
                                    display="menu" class="ml-auto"></p-columnFilter></th>
                            <th pSortableColumn="balance">Saldo<p-sortIcon field="balance"></p-sortIcon>
                            </th>
                            <th pSortableColumn="daysExpired">Dias vencidos<p-sortIcon field="daysExpired"></p-sortIcon>
                                <p-columnFilter type="text" field="daysExpired" display="menu"
                                    class="ml-auto"></p-columnFilter>
                            </th>
                            <!-- <th pSortableColumn="sellerName">Vendedor<p-sortIcon field="sellerName"></p-sortIcon>
                                <p-columnFilter type="text" field="sellerName" display="menu"
                                    class="ml-auto"></p-columnFilter></th> -->
                            <!-- <th pSortableColumn="payConditionName">Condicion<p-sortIcon
                                    field="payConditionName"></p-sortIcon> <p-columnFilter type="text"
                                    field="payConditionName" display="menu" class="ml-auto"></p-columnFilter></th> -->
                            <th pSortableColumn="frecuency">D. Frecuencia <p-sortIcon field="frecuency"></p-sortIcon>
                            </th>
                            <th pSortableColumn="invoiceNumber">N° Fact. <p-sortIcon field="invoiceNumber"></p-sortIcon>
                            </th>

                            <th pSortableColumn="docTotal">Monto Fact.<p-sortIcon field="docTotal"></p-sortIcon> </th>
                            <th pSortableColumn="docTotal">Abonado<p-sortIcon field="docTotal"></p-sortIcon> </th>

                            <!-- <th pSortableColumn="balanceAt30Days">0-30 dias<p-sortIcon
                                    field="balanceAt30Days"></p-sortIcon> </th>
                            <th pSortableColumn="balanceFrom31To60Days">31-60 dias<p-sortIcon
                                    field="balanceFrom31To60Days"></p-sortIcon> </th>
                            <th pSortableColumn="balanceFrom61To90Days">61-90 dias<p-sortIcon
                                    field="balanceFrom61To90Days"></p-sortIcon> </th>
                            <th pSortableColumn="balanceFrom91To120Days">91-120 dias<p-sortIcon
                                    field="balanceFrom91To120Days"></p-sortIcon> </th>
                            <th pSortableColumn="balanceMoreThan120Days">+121 dias<p-sortIcon
                                    field="balanceMoreThan120Days"></p-sortIcon> </th> -->

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="caption">
                        <div class="header-container">
                            <h4>{{title}}</h4>
                            <div class="button-container">
                                <button pButton pRipple label="Excel" pTooltip="Excel" icon="pi pi-file-excel"
                                    class="p-button-success mr-2" (click)="exportToExcel()"></button>
                                <button pButton pRipple label="PDF" icon="pi pi-file-pdf" (click)="exportToPDF()"
                                    class="p-button-warning"></button>
                            </div>
                            <div class="search-container">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Buscar una palabra" />
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td>
                                <button  pButton pRipple pTooltip="Pagar" type="button"
                                icon="pi pi-money-bill"
                                class="p-button-help p-component p-button-text p-button-icon-only" (click)="addPayment(order)"></button>
                            </td>
                            <!-- <td style="width: 5%; min-width: 5rem;">{{ order.customerCode }}</td> -->
                            <td style="width: 20%; min-width: 1rem;">{{ order.customerName }}</td>
                            <td style="width: 10%; min-width: 5rem;" [ngStyle]="getBalanceStyle(order.balance)">{{
                                order.balance | currency:'L. ' }}</td>
                            <td style="width: 12%; min-width: 5rem;" [ngStyle]="getBalanceStyle(order.daysExpired)">{{
                                order.daysExpired }}</td>
                            <td style="width: 10%; min-width: 4rem;">{{ order.frecuency }}</td>
                            <!-- <td style="width: 10%; min-width: 2rem;">{{ order.payConditionName }}</td> -->
                            <td style="width: 10%; min-width: 2rem;">{{ order.invoiceNumber }}</td>
                            <!-- <td style="width: 5%; min-width: 4rem;">{{ order.dueDate | date:'dd/MM/yyyy' }}</td> -->
                            <td style="width: 10%; min-width: 5rem;">{{ order.docTotal | currency:'L. ' }}</td>
                            <td style="width: 10%; min-width: 5rem;">{{ order.paidToDate | currency:'L. ' }}</td>
                            <!-- <td style="width: 10%; min-width: 5rem;">{{ order.balance | currency:'L. ' }}</td> -->

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td>Total General</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ totalBalance | currency:'L. ' }}</td>
                            <td></td>

                        </tr>
                    </ng-template>
                </p-table>
            </ng-template>
            <app-sales-payment-dialog (PaymentSalesModify)="paymentModify($event)"></app-sales-payment-dialog>
        </div>
    </div>
</div>
