<p-dialog header="{{isAdd ? 'Agregar': 'Editar'}} entrada de mercaderia" [(visible)]="display" modal="true"
    blockScroll="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '850px', height: '800px'}">
    <ng-container>
        <ng-template [ngIf]="loading" [ngIfElse]="data">
            <skeleton-table-component [title]="title"></skeleton-table-component>
        </ng-template>
        <ng-template #data readonly="disable">
            <form [formGroup]="formEntry" *ngIf="formEntry" class="mb-5">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-4">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <i class="pi pi-comments"></i>
                            <input id="entryDate" [disabled]="disabled" type="date" pInputText #entryDate
                                formControlName="entryDate" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <label for="entryDate">Fecha Documento</label>
                        </span>
                        <div *ngIf="formEntry.controls['entryDate'].invalid && formEntry.controls['entryDate'].dirty">
                            <small *ngIf="formEntry.controls['entryDate'].errors.required" id="entryDate"
                                class="p-error block">Fecha Documento es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-8">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <p-dropdown [disabled]="disabled" [options]="wareHouseList" formControlName="whsCode"
                                optionValue="whsCode" optionLabel="whsName"></p-dropdown>
                            <label for="whsCode">Almacen</label>
                        </span>
                        <div *ngIf="formEntry.controls['whsCode'].invalid && formEntry.controls['whsCode'].dirty">
                            <small *ngIf="formEntry.controls['whsCode'].errors.required" id="whsCode"
                                class="p-error block">Alamacen es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <p-dropdown [disabled]="disabled" [options]="typeEntryList" formControlName="type"
                                optionValue="id" optionLabel="name"></p-dropdown>
                            <label for="type">Tipo de ingreso</label>
                        </span>
                        <div *ngIf="formEntry.controls['type'].invalid && formEntry.controls['type'].dirty">
                            <small *ngIf="formEntry.controls['type'].errors.required" id="type"
                                class="p-error block">Tipo de ingreso es requerido</small>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="mt-4 p-float-label p-input-icon-left">
                            <i class="pi pi-comments"></i>
                            <input id="comment" [disabled]="disabled" type="text" pInputText formControlName="comment"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <label for="comment">Comentario</label>
                        </span>
                        <div *ngIf="formEntry.controls['comment'].invalid && formEntry.controls['comment'].dirty">
                            <small *ngIf="formEntry.controls['comment'].errors.required" id="comment"
                                class="p-error block">Comentario es requerido</small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12">
                        <p-table #dt [value]="entry.detail" responsiveLayout="stack"
                            styleClass="p-datatable-sm p-datatable-striped"
                            [globalFilterFields]="['itemCode','itemName', 'quantity', 'itemName']">
                            <ng-template pTemplate="header">
                                <tr [pSelectableRow]="rowData">
                                    <th pSortableColumn="itemCode">Codigo<p-sortIcon field="itemCode"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="itemName">Descripcion <p-sortIcon
                                            field="itemName"></p-sortIcon></th>
                                    <th pSortableColumn="quantity">Cantidad<p-sortIcon field="quantity"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="price">Precio<p-sortIcon field="price"></p-sortIcon></th>
                                    <th pSortableColumn="dueDate">Vencimiento<p-sortIcon field="dueDate"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="lineTotal">Total<p-sortIcon field="lineTotal"></p-sortIcon>
                                    </th>
                                    <th>Accion</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="caption">
                                <!-- <div style="width: 200px;">
                                    <button [disabled]="disabled" pButton class="ml-2" pRipple type="button"
                                        (click)="addLine(entry.detail)" pTooltip="Agregar nueva linea"
                                        tooltipPosition="bottom" label="Agregar Linea"></button>
                                </div> -->
                                <div class="p-inputgroup">
                                    <input #barcode id="barcode" [disabled]="disabled" type="text" pInputText
                                        (keydown.enter)="findBarcode(barcode.value); barcode.value=''"
                                        placeholder="Escanear producto o F2 para buscar"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <button [disabled]="disabled" type="button" pButton pRipple icon="pi pi-search"
                                        pTooltip="Buscar Productos" tooltipPosition="bottom"
                                        (click)="addLine(entry.detail, rowIndex)"></button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="body" let-detail let-rowIndex="rowIndex">
                                <tr>
                                    <td pEditableColumn>
                                        <span class="p-column-title">Codigo</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <div class="p-inputgroup">
                                                    <button [disabled]="disabled" type="button" pButton pRipple
                                                        icon="pi pi-search" (click)="showDialogItem(rowIndex)"></button>
                                                    <!-- <button type="button" pButton (click)="showDialogCustomer(rowIndex)" icon="pi pi-search" class="p-button-rounded p-button-outlined"></button> -->
                                                    <input id="quantity" [disabled]="disabled" id="itemCode" type="text" pInputText
                                                        [(ngModel)]="detail.itemCode"
                                                        [ngModelOptions]="{standalone: true}" disabled="true"
                                                        placeholder="Buscar Articulos">
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.itemCode}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>

                                    <td>
                                        <span class="p-column-title">Descripcion</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="output">
                                                {{detail.itemName}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Cantidad</span>
                                        <input #quantity id="quantity" [disabled]="disabled" pInputText type="number"
                                            (ngModelChange)="calculate()" [(ngModel)]="detail.quantity" mode="decimal"
                                            [minFractionDigits]="2" [min]="0" [max]="1000000"
                                            [ngModelOptions]="{standalone: true}" />
                                    </td>
                                    <td pEditableColumn>
                                        <span class="p-column-title">Precio</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input [disabled]="disabled" pInputText type="text"
                                                    (ngModelChange)="calculate()" [(ngModel)]="detail.price"
                                                    [ngModelOptions]="{standalone: true}">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.price | currency:'L. '}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <span class="p-column-title">Fecha</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input [disabled]="disabled" pInputText type="date"
                                                    [(ngModel)]="detail.dueDate" [ngModelOptions]="{standalone: true}">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.dueDate |date:'dd/MM/yyyy'}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Total</span>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input [disabled]="disabled" pInputText type="text"
                                                    [(ngModel)]="detail.lineTotal"
                                                    [ngModelOptions]="{standalone: true}">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.lineTotal | currency: 'L. '}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width: 20%;"><span class="p-column-title">Acción</span>
                                        <button [disabled]="disabled" (click)="deleteLine(detail.itemId)" pButton
                                            pRipple type="button" icon="pi pi-trash"
                                            class="p-button p-component p-button-text p-button-icon-only"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>{{docQuantity}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{doctotal | currency: 'L. '}}</td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </form>
            <app-items-browser (ItemSelect)="browserItems($event)"></app-items-browser>
        </ng-template>

        <ng-template pTemplate="footer">
            <br>
            <br>
            <br>
            <br>
            <br>
            <ng-template [ngIf]="isAdd" [ngIfElse]="addButton">
                <button pButton type="button" [disabled]="formEntry.invalid || loading" (click)="add()"
                    label="Agregar"></button>
            </ng-template>
            <ng-template #addButton>
                <button pButton type="button" [disabled]="formEntry.invalid || loading" (click)="print()"
                    label="Imprimir"></button>
            </ng-template>
        </ng-template>
        <br><br><br><br><br>
    </ng-container>
</p-dialog>
